*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(32,33,36);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.side{
    /* flex-grow: 1; */
}
.profile{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    gap: 30px;
}

.profile button{
    padding: 10px 30px;
}

.profile button:hover{
    color: white;
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
}

.card{
    border: 1px solid #C63C51;
    box-shadow: 0px 0px 50px #C63C51;
    padding: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    border-radius: 5px;
    animation: glow infinite 2.5s;
}
.card:hover{
    animation: glow-off infinite;
}

@keyframes glow {
    0%,100%{
        box-shadow: 0px 0px 50px #C63C51;
    }
    50%{
        box-shadow: 0px 0px 20px #C63C51;
    }

}

@keyframes glow-off {
    100%{
        box-shadow:  0px 0px 20px #C63C51;
    }
}

.card img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid #7A1CAC;
    box-shadow: 0px 0px 30px #7A1CAC;
}


.contact{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.items{
    display: flex;
    gap: 20px;
}

.card a{
    color: white;
    text-decoration: none;
    font-size: larger;
}


.card h2{
    color: #D95F59;
}

.card p{
    font-size: small;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 30px;
}

.content h1{
    color: #D95F59;
}

.acada{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.box{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
    gap: 10px;
    
}

.to{
    display: flex;
    justify-content: space-between;
}
.box h5{
    color: gray;
}

.bot{
    display: flex;
    justify-content: space-between;
}